<div class="container-fluid padding">
    <div class="row welcom text-center">
      <div class="col-12">
        <h1 class="display-4">
          "Farming looks mighty easy when your plow is pencil <br>
          and your thousand miles from the corn field."</h1>
      </div>
      <hr>
    </div>
    </div>