<div class="container">
  <div class="row text-center padding"  background-color="rgba(143, 173, 138, 0.966)">
    <div class="col-12" >
      <h2> Connect </h2>
    </div>
  <div class="col-12 social ">
    <a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
    <a href="http://www.plus.google.com"><i class="fab fa-google-plus-g"></i></a>
    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="http://www.youtube.com"><i class="fab fa-youtube"></i></a>
  </div>
  </div>
</div>
