
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@media (max-width:992px){
.social a {
    font-size: 4em;
    padding : 2rem;
}
}

.container {
    background-color: #1a0c04;
min-width: 100%;
}

h2{    
    background-color: #1a0c04;
    min-width: 100%;
color: white ;
}

fab.fa-facebook {
    color: rgb(3, 3, 71);
}

fab.fa-twitter {
    color: #00aced;
}

fab.fa-google-plus-g {
    color: #dd4b39;
}

fab.fa-instagram {
    color: #517fa4;
}

fab.fa-youtube {
    color: red;
}

.social a {
    font-size: 3em;
    padding: 3rem;
}

fab.fa-facebook,
fab.fa-twitter,
fab.fa-google-plus-g,
fab.fa-instagram,
fab.fa-youtube {
    color: #d5d5d5;
}
