<div id="slides" class="carousel slide" data-ride="carousel">
    <!-- <ul class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
    </ul> -->

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="src/assets/img/rr.jpg"  height="564px" width="1500px">
        <div class="carousel-caption1">
            <div class="hd">
              <h1 class="display-2">AGRIAID</h1> 
              </div>
              
             
           
            
               <div class="carousel-inner ">
                <div  class="carousel-caption2">
                     <!-- <div class="hd1">
                       <button type="button" class="btn btn-signin btn-outline-light btn-lg sticky-top"> Sign-in </button>
                     </div> -->
                     <div class="logo">
                      <img src="src/assets/logo/agro.jpg" height="60px" width="80px"> 
                 </div>
             </div>
             <!-- <div class="carousel-inner ">
                <div  class="carousel-caption3">
                     <div class="hd2">
                       <button type="button" class="btn btn-signup btn-outline-light btn-lg sticky-top"> Sign-up </button>
                     </div>
                 </div>
             </div> --> 
                    
        </div>
      </div>
      
      <!-- <div class="carousel-item">
          <img src="src/assets/img/bg2.jfif" height="564px" width="1500px">
        </div>
      <div class="carousel-item">
          <img src="src/assets/img/bg3.jfif" height="564px" width="1500px">
      </div> -->
      </div>
   