div.hd{
    position: fixed ;
    bottom:40%;
    right: 54%;
    width: 100px;
}



div.hd1{
    position: fixed ;
    bottom:80%;
    right: 25%;
    
}

div.hd2{
    position: fixed ;
    bottom:80%;
    right: 65%;
    
}

.carousel-item{
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility:visible;
    backface-visibility: visible;
}

.carousel-caption1 h1 {
    font-size: 500%;
   text-transform: uppercase;
   text-emphasis: shadow 1px 1px 10px #000;
   position: fixed;
   right: 40%;
   bottom:53%;
}

.logo {
    position: fixed ;
    right: 47%;
    bottom: 15%;
 
}

.logo a{
     font-size: 3rem;
    padding: 3rem; 
   
}

.hd1 {
    background-color: #6648b1;
    border: 1px solid wheat;
}

.hd1.hover {
    background-color: #563d7c;
    border: 1px solid wheat;
}

.hd2 {
    background-color: #6648b1;
    border: 1px solid wheat;
}

.hd2.hover {
    background-color: #563d7c;
    border: 1px solid wheat;
}
