<div class="container">
      <br>  
      <h2> About the Service.... </h2>
      <br>
      <p> 
          AgriAid systems give everyone in the food supply chain a way to track what’s happened
           to a crop at every stage of its growth, harvest, and processing — and manage that data 
           efficiently. By putting crop data tracking and compliance online – including
            recommendations, reporting, permitting, label searches, mapping, field scouting, 
            trap counting and GAP (Good Agriculture Practices) online — Agrian saves time, eliminates
             paperwork, reduces risk, and makes users far more productive in their chosen work.

</p>
      
      
      <hr class="my-4">
</div>
