
.container{
   font-family:Roboto,sans-serif;
    /* background-color: aquamarine; */
    /* background-image:url(https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg); */

    /* border-style: 1px solid grey; */
    margin: 0 auto;
    /* text-align: center; */
    opacity: 0.8;
    margin-top: 67px;
    /* box-shadow: 2px 5px 5px 0px #eee; */
    max-width: 500px;
    padding-top: 10px;
    height: 600px;
    margin-top: 0px;
}

body{
    /* background-image:url(https://s3.envato.com/files/243754334/primag.jpg); */
    background: url(http://robohub.org/wp-content/uploads/2016/05/DeepfieldRobotics.png);
    /* background-color: black; */
    background-repeat:no-repeat;
    background-size:cover;
    /* width:100%;
    height:100vh;
    overflow:auto;
    background-position: center; */
    min-width:100%;
    min-height:100%;
    top: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    
}

.heading{
    text-decoration:bold;
    text-align : center;
    font-size:30px;
    color:black;
    padding-top:10px;
}


/*--- for label of first name---*/
.fname{
    margin-left: 1px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 5px;
}
#firstName{
    margin-top:5px;
}

/*--- for label of last name---*/
.lname{
    margin-left: 1px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 5px;
}
#lastName{
    margin-top:5px;
}
     

/*-------for email----------*/

.mail{
    margin-left: 1px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 5px;
}

#email{
    margin-top: 5px;
}

/*-------for mobile----------*/

.mobi{
    margin-left: 1px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 5px;
}
#mobile{
margin-top: 5px;
}

/*-------for age----------*/

.Age{
    margin-left: 1px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 5px;
}
#age{
margin-top: 5px;
}

/*-------for address----------*/

.Address{
    margin-left: 1px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 5px;
}
#address{
margin-top: 5px;
}

/*-------for location----------*/

.loc{
    margin-left: 1px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 5px;
}
#location{
margin-top: 5px; 
} 

/*-------for profile-img----------*/

.profile-img{
    border-radius: 50%;
    margin: 10px;
    max-width: 128px;
    max-height: 128px;
    position: center;
}
