<!-- this is 1st commit -->
<!-- this is second commit 344444-->
<!-- hello this is new -->
<!-- jeevabranch 344-->
<!-- hgfjgnkjbn -->
<nav class="navbar navbar-expand-lg navbar-dark"  style="background-color:rgb(8, 13, 15)">
  <div class="navbarlogo"><img src="assets/logo/agro.png"></div>

  <a class="navbar-brand" href="#"> <h2 class="title">AgriAid</h2></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav  sub">

      <li class="nav-item active">
        <a class="nav-link " href="#" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/farmer-list" >Validatepage</a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/farmer" >Registerform</a>
      </li> -->

    </ul>
    <ul class="navbar-nav  ml-auto  sub" >

      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#"  routerLink="/login">LogIn</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#"  routerLink="/register">Register</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="#"  (click)="onClickLogout()">Logout</a>
      </li>
 <li class="nav-item">
   <a class="nav-link">{{numberUserid}}</a>
 </li>
 <li class="nav-item" *ngIf="isLogin">
    <img src="{{photoUserid}}" alt="" class="rounded-circle">
    <span class="badge pill badge-secondary">{{emailUserid}}</span>
  </li>

    </ul>
  </div>
</nav>
