footer {
    background-color: #1a0c04;
    color: #d5d5d5;
    padding-top: 1rem;
}

footer a{
    color: #ffffff;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 80% ;
    margin-top: .10rem;
    margin-bottom: 2rem;
}


