<footer>
<div class="container-fluid padding light">
  <div class="row text-center">
    <div class="col-md-6">
        <img src="src/assets/logo/agro.jpg" height="60px" width="100px"> 
        <hr class="light">
      <p>AGRIAID</p>
      <p>agriaid@gmail.com</p>
      <p> T.P :- 0774235718</p>
      <p>Fax :- 0113753673 </p>
    </div>
    <div class="col-md-6">
        <hr class="light-100">
        <h5> AgroSence </h5>

        <hr class="light-100">
        <p> No.07,
            Kollupitiya,
            Colombo-04. </p>
        <p> agrosence@yahoo.com</p>
<p> 0765432599 </p>

      </div>
      <!-- <div class="col-md-4">
          <hr class="light-100">
          <h5> GGGGGG </h5>
          <hr class="light-100">
          <p>wwwwwwwwwwwwwwww</p>
          <p>E-mail address</p>
          <p>dddddddddddddddd</p>
          <p>nnnnnnnnnnnnnnnn</p>
        </div> -->
        <div class="col-12">
          <hr class="dark">
         <h5> AgriAid... </h5>
        
        </div>
      </div>
      </div>
    </footer>
