<div class="bg">
  <div class="container ">

    <div class="row">

      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center" ><b>Sign In</b></h5>
            <form class="form-signin " (submit)="onSubmitLogin()">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                <label for="inputEmail" ><b> &nbsp;  &nbsp;  &nbsp;Email address</b></label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                <label for="inputPassword"><b> &nbsp;  &nbsp;  &nbsp;Password</b></label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"><b>Remember password</b></label>
              </div>
            <input value="Sign-In" class="btn btn-sm btn-pri  mary btn-block text-uppercase" type="submit">
            </form>
              <hr class="my-4">
              <button class="btn btn-md btn-primary  btn-google btn-block text-uppercase" (click)="onClickGoogleLogin()" >
              Sign in with Google</button>
              <!-- <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"> Sign in with Facebook</button> -->
              <button  class="btn btn-md btn-light btn-block text-uppercase " (click)="onClickFacebookLogin()"> <i class="fa fa-facebook"></i>Sign in with Facebook</button>
              <button  class="btn btn-md btn-light2 btn-block text-uppercase ">Sign in with Twitter</button>

          </div>

        </div>

      </div>
    </div>

  </div>
  </div>
