<!-- <form class="form-inline">
  <input class="form-control" name="searchInput" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
  <button class="btn btn-outline-primary" (click)="searchText=''">X</button>
</form>
<table class="table table-sm"> 
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Age</th>
    <th>Address</th>
  </thead>
  <ng-container *ngFor="let farmer of farmerArray">
    <tr class="table-dark" *ngIf="filterCondition(farmer)">
      <td>{{farmer.firstName}}</td>
      <td>{{farmer.lastName}}</td>
      <td>{{farmer.email}}</td>
      <td>{{farmer.mobile}}</td>
      <td>{{farmer.age}}</td>
      <td>{{farmer.address}}</td>
      <td>
        <button class="btn btn-outline-info" (click)="farmerService.populateForm(farmer)">Edit</button>
        <button class="btn btn-outline-danger" (click)="onDelete(farmer.$key)">Delete</button>
      </td>
    </tr>
  </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">
  Deleted successfully.
</div> -->