.alert.flash-message{
  margin-top:10px;
}

#fixed {
  background-image: url('/assets/img/back.jfif');
  position: fixed;
  display: block;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform ;  
}