<!-- <div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <form class="form-signin" (submit)="onSubmitAddUser()">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus  [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required  [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
              <label for="inputPassword">Password</label>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <input class="btn btn-lg btn-primary btn-block text-uppercase" value ="signIn" type="submit">

          </form>
        </div>
      </div>

    </div>
  </div>
</div>
 -->

 
<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><b>Register</b></h5>
            <form class="form-signin" (submit)="onSubmitAddUser()">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus  [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                <label for="inputEmail"><b> &nbsp;  &nbsp;  &nbsp;Email address</b></label>
              </div>
  
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required  [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                <label for="inputPassword"><b> &nbsp;  &nbsp;  &nbsp;Password</b></label>
              </div>
  
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"><b>Remember password</b></label>
              </div>
              <h4><input class="btn btn-lg btn-primary btn-block text-uppercase"   value ="Register"  type="submit">
                 <!-- (click)="onSignButtonClick()" -->
              </h4>
            </form>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  </div>
  