
<!-- <div>
  <app-navbar></app-navbar>
</div> -->
<div class="bg">
<div>
  <app-imageslider></app-imageslider>
</div>
<div>
    <app-adds></app-adds>
  </div>
<div>
  <app-colsection></app-colsection>
</div>
<div>
    <app-appdescription></app-appdescription>
</div>
<div>
  <app-connect></app-connect>
</div>
<div>
  <app-footer></app-footer>
</div>
</div>

