/* html, body {
    height: 100% ;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
} */

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75% ;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip:rect(0,auto,auto,0);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



[class *="col-"] {
    padding: 1rem;
}

/* .bg
{ 
  overflow:auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top:3;
  left:0;
} */


.bg {
     background-repeat:no-repeat;
    background-size:cover;
    min-width:100%;
    min-height:100%;
    top: 3;
    left: 0;
    right: 0;
    overflow: auto;
 position: absolute;
 background-color: rgb(0, 0, 0);
 
}