/* .container {
    background-color:black;
    min-width:100%;
}

.row {
    background-color: black;
    min-width:100%;
}
 */

.container {
background-color:rgb(245, 245, 245);
    min-width: 100%;
}

p {
    color: black;
    font-weight: bold;
    text-align: center;
    
}

.no1 {
    height: 400px;
}